
.nav-link {
    color: orange !important;
}

.nav.navbar-brand{
        color: red;
}

#searchBox:hover{
    border-color: orange;
    border-width: 2px;
}
.btn-primary, .btn-primary:hover, .btn-primary:visited {
    background-color: orange;
    color: black;
    border-color: orange;
    outline: "blank";
    width: 50%;
}